# OS / editor
.DS_Store
Thumbs.db

# Qt Creator / IDE
.qtcreator/
*.user
*.pro.user*
*.qtc*

# Build outputs
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

